:root {
    --color-primary: #fdffb6;
    --color-background: #f8f8f8;
    --color-light-grey: #dfdbdb;
    --color-background-dark: #525050;
    --color-text: #2d2d2d;

    --content-max-width: 100rem;

    --space-small: 0.5rem;
    --space-medium: 1rem;
    --space-large: 2rem;


  --border-default: 0.0625rem solid var(--color-background-dark);
  --border-radius: 0.5rem;

  --shadow-default:
    0 0.125rem 0.5rem rgb(0 0 0 / 12%);

    --font-family: "Sansation", sans-serif;
    --font-weight-bold: 700;
    --font-weight-normal: 400;
    --font-style: normal;
}

body {
  margin: 0;
  min-height: 100vh;
  color: var(--color-text);
  background-color: var(--color-background);
  font-family: var(--font-family);
}

h1 {
  font-weight: var(--font-weight-bold);
}
/* .sansation-light {
  font-family: "Sansation", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.sansation-regular {
  font-family: "Sansation", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sansation-bold {
  font-family: "Sansation", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.sansation-light-italic {
  font-family: "Sansation", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.sansation-regular-italic {
  font-family: "Sansation", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.sansation-bold-italic {
  font-family: "Sansation", sans-serif;
  font-weight: 700;
  font-style: italic;
} */
